@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');

body {
  background-color: #000;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4;
  margin: 100px 100px 500px 100px;
}

section {
  width: 800px;
  transition: transform 1s;
  will-change: transform;
}

div {
  margin: 0 0 50px 0;
}

h2 {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 24px;
}

img {
  width: 100%;
}
