@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body {
  font-family: 'Alfa Slab One', cursive;
  padding: 80px;
}

h1 {
  font-size: 48px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
}

h1 span {
  transition: color 1s;
}
h1 span:hover {
  transition: color 0s;
}

h1 span:hover:nth-child(1n) {
  color: red;
}
h1 span:hover:nth-child(2n) {
  color: green;
}
h1 span:hover:nth-child(3n) {
  color: blue;
}
